@font-face {
    font-family: 'Inter-Medium';
    src: url('../fonts/Inter-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Jakarta-Bold';
    src: url('../fonts/PlusJakartaSans-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Jakarta Regular';
    src: url('../fonts/PlusJakartaSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Jakarta Medium';
    src: url('../fonts/PlusJakartaSans-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Popins-Medium';
    src: url('../fonts/Poppins-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}